<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li role="presentation" class="active">Analyst Comments</li>
      <li role="presentation">User Comments</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <span class="input-group-addon fa fa-search" id="basic-addon1"></span>
      <input type="search" class="form-control" [formControl]="searchControl" placeholder="Enter search term..." aria-describedby="basic-addon1">
    </div>
  </div>
</div>
<br>
<app-analyst-comment-results [term]="searchTerm"></app-analyst-comment-results>